In [6]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules
import pandas as pd

In [2]:
dataset = [['milk','bread','butter'],
           ['bread','butter'],
           ['milk','bread'],
           ['milk','bread','butter'],
           ['milk','bread']]

In [4]:
te = TransactionEncoder()
te_array = te.fit(dataset).transform(dataset)

In [5]:
type(te_array)

numpy.ndarray

In [7]:
df = pd.DataFrame(te_array,columns=te.columns_)

In [8]:
df

   bread  butter   milk
0   True    True   True
1   True    True  False
2   True   False   True
3   True    True   True
4   True   False   True

In [11]:
frequency_itemsets = apriori(df=df,use_colnames=True)

In [13]:
frequency_itemsets

   support         itemsets
0      1.0          (bread)
1      0.6         (butter)
2      0.8           (milk)
3      0.6  (butter, bread)
4      0.8    (milk, bread)

In [12]:
association_rules(frequency_itemsets)

  antecedents consequents  antecedent support  ...  lift  leverage  conviction
0    (butter)     (bread)                 0.6  ...   1.0       0.0         inf
1      (milk)     (bread)                 0.8  ...   1.0       0.0         inf
2     (bread)      (milk)                 1.0  ...   1.0       0.0         1.0

[3 rows x 9 columns]